.wrapper .profile__item{
	flex-direction: row;
}
.profile{
	display: flex;
	margin: 0 20px 0 20px;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
	height: 30vh;
}
body .profile__shorts{
	width: 70vw;
	height: auto;
}