.wrapper .profile__item{
	flex-direction: row;
}
.profile{
	display: flex;
	margin: 0 20px 0 20px;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
}
.profile__shorts{
	display: block;
	object-fit: contain;
	width: 100%;
	text-align: center;
	height: 100%;
}
.swiper-slide{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.slider video{
	width: auto;
}