.modal{
	padding: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.modal__title{
	text-align: center;
}
.modal__wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 20px;
}
.modal__items{
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}
.modal__wrapper input[type='text']{
	width: fit-content;
}
.modal__wrapper input[type='submit']{
	width: 100%;
}
.modal label{
	display: flex;
}