.shorts__main{
	position: absolute;
	right: 0;
	left: 0;
	top: 15%;
	display: flex;
	flex-direction: column;
	height: 70vh;
	margin: 0 20px 0 20px;
	color: white;
}
.shorts__main-back{
	z-index: 100;
	position: absolute;
	left: 0;
	width: fit-content;
	color: white;
}
.shorts__items{
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-end;
	justify-content: center;
	height: 100%;
}
.shorts__item{
	z-index: 100;
	width: fit-content;
	display: flex;
	gap: 5px;
	flex-direction: column;
	align-items: center;
}
.nav{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;
}
body .swiper{
	width: 100%;
	height: 100%;
}
.swiper-slide .bg-video{
	display: block;
	width: 100%;
	height: 100%;
	background-color: black;
}